
<nav class="main-nav">
    <ul class="main-menu">
      <li><a href="http://107.152.42.133:5000/">Home</a></li>
    </ul>
    <ul class="right-menu">
      <li>
        <a href="/users/logout">
          Logout
        </a>
      </li>
    </ul>
  </nav>