
<nav class="main-nav">
    <ul class="main-menu">
      <li><a href="/">Home</a></li>
    </ul>
    <ul class="right-menu">
      <li>
        <a href="/announce">
          Announce
        </a>
        <a href="/">
          Search games
        </a>
        <a href="/my_profil">
          My profil
        </a>
      </li>
    </ul>
  </nav>
